*.opendb
*.db
MegaApp/.vs/

*.user
MegaApp/ARM/
MegaApp/BackgroundTaskService/bin/
MegaApp/BackgroundTaskService/obj/
MegaApp/BackgroundTaskService/project.lock.json
MegaApp/Debug/
MegaApp/MegaApp/MegaApp_TemporaryKey.pfx
MegaApp/MegaApp/project.lock.json
MegaApp/MegaApp/bin/
MegaApp/MegaApp/obj/
MegaApp/x64/
MegaApp/MegaApp/AppPackages/
MegaApp/MegaApp/BundleArtifacts/
MegaApp/Release/
MegaApp/MegaApp/MegaApp_StoreKey.pfx
MegaApp/MegaApp/Package.StoreAssociation.xml
MegaApp/MegaApp/_pkginfo.txt
MegaApp/MegaApp/MegaApp.nuget.props
MegaApp/MegaApp/MegaApp.nuget.targets
