*.opendb
*.db
MegaApp/.vs/
MegaApp/ARM/
*.user
MegaApp/MegaApp/MegaApp_TemporaryKey.pfx
MegaApp/MegaApp/project.lock.json
MegaApp/MegaApp/bin/
MegaApp/MegaApp/obj/
MegaApp/x64/
/MegaApp/BackgroundTaskService/bin/x64/Debug
/MegaApp/BackgroundTaskService/obj/x64/Debug
/MegaApp/Debug/mega/mega.dll
/MegaApp/Debug/mega
