*.opendb
*.db
MegaApp/.vs/

*.user
MegaApp/ARM/
MegaApp/BackgroundTaskService/bin/
MegaApp/BackgroundTaskService/obj/
MegaApp/MegaApp/MegaApp_TemporaryKey.pfx
MegaApp/MegaApp/project.lock.json
MegaApp/MegaApp/bin/
MegaApp/MegaApp/obj/
MegaApp/x64/
/MegaApp/BackgroundTaskService/bin/
/MegaApp/BackgroundTaskService/obj/
/MegaApp/Debug/mega/mega.dll
/MegaApp/Debug/mega
