<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="MegaLimited.MEGAPrivacybeta" Publisher="CN=78B72E51-6188-4F93-9245-24D5C79F8840" Version="1.2.0.0" />
  <mp:PhoneIdentity PhoneProductId="4b1bdd72-4d47-4081-80b8-5d0673700c46" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>MEGA Privacy (beta)</DisplayName>
    <PublisherDisplayName>Mega Limited</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MegaApp.App">
      <uap:VisualElements DisplayName="MEGA Privacy (beta)" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="MEGA Cloud Service Application" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="mega">
            <uap:DisplayName>MEGA Privacy</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.fileOpenPicker">
          <uap:FileOpenPicker>
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType />
            </uap:SupportedFileTypes>
          </uap:FileOpenPicker>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="megafile">
            <uap:DisplayName>MEGA files</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="image/png">.png</uap:FileType>
              <uap:FileType ContentType="image/jpeg">.jpg</uap:FileType>
              <uap:FileType ContentType="image/jpeg">.jpeg</uap:FileType>
              <uap:FileType ContentType="video/x-msvideo">.avi</uap:FileType>
              <uap:FileType ContentType="video/mp4">.mp4</uap:FileType>
              <uap:FileType ContentType="video/mpeg">.mpeg</uap:FileType>
              <uap:FileType ContentType="video/quicktime">.mov</uap:FileType>
              <uap:FileType ContentType="video/x-ms-wmv">.wmv</uap:FileType>
              <uap:FileType ContentType="application/msword">.docx</uap:FileType>
              <uap:FileType ContentType="audio/mpeg">.mp3</uap:FileType>
              <uap:FileType ContentType="audio/x-ms-wma">.wma</uap:FileType>
              <uap:FileType ContentType="application/pdf">.pdf</uap:FileType>
              <uap:FileType ContentType="application/mspowerpoint">.ppt</uap:FileType>
              <uap:FileType ContentType="application/vnd.openxmlformats">.pptx</uap:FileType>
              <uap:FileType ContentType="text/plain">.txt</uap:FileType>
              <uap:FileType ContentType="application/rtf">.rtf</uap:FileType>
              <uap:FileType ContentType="application/vnd.ms-excel">.xls</uap:FileType>
              <uap:FileType ContentType="application/vnd.openxmlformat">.xlsx</uap:FileType>
              <uap:FileType ContentType="application/x-zip-compressed">.zip</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTaskService.CameraUploadTask">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="removableStorage" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>